name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v3.5.0

      # validate JSON and YAML files
      - name: json-yaml-validate
        uses: GrantBirki/json-yaml-validate@v1.3.0
        with:
          comment: "true"
          exclude_file: ""

      # check the node version from the .node-version file
      - name: fetch node version
        id: node-version
        run: |
          version=$(cat .node-version)
          echo "version=${version}" >> $GITHUB_OUTPUT

      - uses: actions/setup-node@v3.6.0
        with:
          node-version: ${{ steps.node-version.outputs.version }}
          cache: 'npm'

      - name: Install
        run: npm ci

      # TODO add tests here
